# systemctl --user start shutdown-nightly.timer
# systemctl --user enable shutdown-nightly.timer
# systemctl --user list-timers -all
[Unit]
Description=Schedule shutdown during off peak hours

[Timer]
OnCalendar=*-*-* 23:59:00
RandomizedDelaySec=10
Persistent=false

[Install]
WantedBy=timers.target
