.irssi/config filter=irssi-pw
cert-install.sh filter=ts-pw
cert-install.sh filter=ks-pw
influxdb-install.sh filter=influxdb-pw
influxdb-status.sh filter=influxdb-pw
activemq-install.sh filter=activemq-pw
chef-install.sh filter=chef-pw
ssmtp-install.sh filter=ssmtp-pw
postfix-install.sh filter=postfix-pw
.muttrc filter=mutt-pw
env.secrets filter=secrets
