[user]
  email = henninb@msn.com
  name = Brian Henning
[alias]
  co = checkout
  ci = commit
  st = status -sb
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  cob = checkout -b
  pom = push origin master
  cm = commit -m
  plom = pull origin master
  f = "!git ls-files | grep -i"
  aa = add -A .
  unstage = reset HEAD --
  check-file = "!f() { if [ $# -eq 0 ]; then echo 'Filename missing!'; else tracked=$(git ls-files ${1}); if [[ -z ${tracked} ]]; then echo 'File not tracked'; else echo 'File tracked'; fi; fi;  };  f"
[push]
  default = simple
[merge]
  tool = vimdiff
; [diff]
;   external = git-diff-wrapper
[core]
  pager = less -F -X
  editor = nvim
[advice]
  detachedHead = false
  addIgnoredFile = false
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[grep]
    lineNumber = true
[filter "irssi-pw"]
  clean = "sed -e 's/sasl_password = .*;/sasl_password = \"********\";/'"
[filter "ks-pw"]
  clean = "sed -e 's/KEYSTORE_PASSWORD=\".*\"/KEYSTORE_PASSWORD=\"********\"/'"
[filter "influxdb-pw"]
  clean = "sed -e 's/INFLUXDB_PASSWORD=\".*\"/INFLUXDB_PASSWORD=\"********\"/'"
[filter "activemq-pw"]
  clean = "sed -e 's/ACTIVEMQ_PASSWORD=\".*\"/ACTIVEMQ_PASSWORD=\"********\"/'"
[filter "chef-pw"]
  clean = "sed -e 's/CHEF_PASSWORD=\".*\"/CHEF_PASSWORD=\"********\"/'"
[filter "ssmtp-pw"]
  clean = "sed -e 's/SSMTP_PASSWORD=\".*\"/SSMTP_PASSWORD=\"********\"/'"
[filter "postfix-pw"]
  clean = "sed -e 's/POSTFIX_PASSWORD=\".*\"/POSTFIX_PASSWORD=\"********\"/'"
[filter "mutt-pw"]
  clean = "sed -e 's/set imap_pass = \".*\"/set imap_pass = \"********\"/'"
[filter "secrets"]
  clean = "sed -e 's/_PASSWORD=.*/_PASSWORD=********/'"
#  clean = 'sed -e 's/^\(KEY\|TRUST\)STORE_PASSWORD=.*/#set \1_pass=TODO/''
#  clean = "sed -e 's/KEYSTORE_PASSWORD=\".*\"/KEYSTORE_PASSWORD=\"********\"/'"
#  clean = "sed -e 's/^\(KEY\|TRUST\)STORE_PASSWORD=.*/ blah\1 STORE_PASSWORD=TODO/'"
#[filter "ts-pw"]
#  clean = "sed -e 's/TRUSTSTORE_PASSWORD=\".*\"/TRUSTSTORE_PASSWORD=\"********\"/'"
[pull]
  rebase = false
