[user]
  email = henninb@msn.com
  name = Brian Henning
[alias]
  co = checkout
  ci = commit
  st = status -sb
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  cob = checkout -b
  pom = push origin master
  cm = commit -m
  plom = pull origin master
  f = "!git ls-files | grep -i"
  aa = add -A .
  unstage = reset HEAD --
[push]
  default = simple
[merge]
  tool = vimdiff
[diff]
#  tool = vimdiff
  external = git-diff-wrapper
[core]
  pager = less -F -X
  editor = nvim
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
# https://github.com/jchnkl/etc.irssi/blob/2a5e44fc297c45c594a39f94404dbff0b8a2e424/.irssi/readme.md
[filter "irssi-pw"]
  clean = "sed -e 's/sasl_password = .*;/sasl_password \"********\";/'"
