!! Colorscheme

! special
*.foreground:   #948e48
*.background:   #201602
*.cursorColor:  #948e48

! black
*.color0:       #201602
*.color8:       #6c6823

! red
*.color1:       #c35359
*.color9:       #c35359

! green
*.color2:       #18974e
*.color10:      #18974e

! yellow
*.color3:       #a88339
*.color11:      #a88339

! blue
*.color4:       #477ca1
*.color12:      #477ca1

! magenta
*.color5:       #8868b3
*.color13:      #8868b3

! cyan
*.color6:       #75a738
*.color14:      #75a738

! white
*.color7:       #948e48
*.color15:      #faf0a5

!URxvt.font: xft:xos4 Terminus:pixelsize=12, xft:FontAwesome:pixelsize=24
!URxvt.font: xft:FontAwesome:pixelsize=24
!URxvt.font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
!Urxvt.font: xft:SauceCodePro NF:pixelsize=16, xft:Monospace:pixelsize=16, xft:SauceCodePro Nerd Front Mono:pixelsize=16
!URxvt.font: xft:SauceCodePro NF:pixelsize=16, xft:dejavu sans mono:medium:pixelsize=16, xft:Monospace:pixelsize=16, xft:SauceCodePro Nerd Front Mono:pixelsize=16
!URxvt.font: xft:SauceCodePro NF:pixelsize=20
URxvt.font: xft:monofur for Powerline:pixelsize=20

URxvt.termName: rxvt-unicode-256color
!URxvt.termName: rxvt-256color
!URxvt*termName: rxvt

URxvt.letterSpace: 0
!URxvt.letterSpace: 1
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 4096
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

! Location of custom Perl extensions
URxvt*.perl-lib: $HOME/.urxvt/perl-extensions
