#!/sbin/openrc-run

#sudo cp xrdp.rc /etc/init.d/xrdp

start() {
  ebegin "Starting xrdp"
  start-stop-daemon --quiet --start -x /usr/local/sbin/xrdp
  eend $? "xrdp did not start, error code $?"
  start-stop-daemon --quiet --start -x /usr/local/sbin/xrdp-sesman
  eend $? "xrdp-sesman did not start, error code $?"
}

stop() {
  ebegin "Stopping xrdp"
  start-stop-daemon --quiet --stop -x /usr/local/sbin/xrdp
  eend $? "xrdp did not stop, error code $?"
  start-stop-daemon --quiet --stop -x /usr/local/sbin/xrdp-sesman
  eend $? "xrdp-sesman did not stop, error code $?"
  rm -rf /run/xrdp.pid
  rm -rf /var/log/xrdp.log
  rm -rf /run/xrdp-sesman.pid
  rm -rf /var/log/xrdp-sesman.log
}

depend() {
  need net
  before logger
}
