[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Alacritty
Comment=Alacritty
Exec=/home/henninb/.local/share/cargo/bin/alacritty
Terminal=false
StartupNotify=true
