[Desktop Entry]
Name=Android Studio
GenericName=Integrated Development Environment
Comment=Google IDE specialised for Android development
Icon=android-studio
Exec=/opt/android-studio/bin/studio.sh %f
Terminal=false
Type=Application
StartupNotify=false
