[Desktop Entry]
Version=1.0
Terminal=false
Icon=rythmbox
Type=Application
Categories=Music;X-Red-Hat-Base;
Exec=/usr/bin/distrobox-enter  -n archlinuxbox --   rythmbox-client  %U
MimeType=application/vnd.oasis.opendocument.base;application/vnd.sun.xml.base;
Name=Rythmbox  (on archlinuxbox)
GenericName=Rythmbox  (on archlinuxbox)
Comment=
StartupNotify=true
X-GIO-NoFuse=true
# Keywords=Data;SQL;
InitialPreference=5
StartupWMClass=libreoffice-base
X-KDE-Protocols=file,http,ftp,webdav,webdavs
