[Desktop Entry]
Type=Application
Version=1.0
Name=BackgroundSet
Comment=set background and xwaybar
Exec=bkg-set
Categories=ConsoleOnly;System;
Keywords=waybar;background
#StartupNotify=false
# Terminal=true
#NoDisplay=true
