[Desktop Entry]
Version=1.0
Name=Google Calendar
Comment=Access Google Calendar in app mode
Exec=brave-browser --app=https://calendar.google.com
Icon=brave
Terminal=false
Type=Application
Categories=Network;Office;
