[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=Access ChatGPT in app mode
Exec=brave --app=https://chat.openai.com
Icon=brave
Terminal=false
Type=Application
Categories=Network;Office;
