[Desktop Entry]
Name=hardinfo
Exec=hardinfo
Icon=hardinfo
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
