[Desktop Entry]
Version=1.0
Type=Application
Name=picom
GenericName=X compositor
Comment=Compositor for X11
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=/usr/bin/picom
Exec=picom
# Thanks to quequotion for providing this file!
NoDisplay=true
